body {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 17rem;
  height: 17rem;
  border: 25px solid white;
  border-radius: 50%;
  padding: 2rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2),
    inset 0 0 8px 4px rgba(56, 39, 39, 0.3);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.hand {
  width: 50%;
  height: 6px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
